{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container">
    <div class="row text-light">
        <div class="col-md-8 mt-3 offset-md-2">
            <h3><strong>{% trans "Sign In" %}</strong></h3>

            <p>{% blocktrans %}Welcome back to Forge Fitness, are you ready to get into shape? 
                <br>
                If you have not created an account yet, then <a class="link" href="{{ signup_url }}">sign up</a>
                first.{% endblocktrans %}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2 text-light">
            <form class="login" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.username.label_tag }}
                    <input type="text" class="form-control" id="id_username" name="username" placeholder="{% trans "Username" %}" required>
                </div>
                <div class="form-group">
                    {{ form.password.label_tag }}
                    <input type="password" class="form-control" id="id_password" name="password" placeholder="{% trans "Password" %}" required>
                </div>
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="btn btn-success btn-block" type="submit">{% trans "Sign In" %}</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}