
/* Base Page */

body {
    background-color: #000000;
}

/* Navbar */

.logo {
   max-height: 100px; 
   max-width: 100px;
   margin-right: 20px;
}

.navbar-brand {
    margin-right: auto; 
}

.nav-item a {
    font-weight: bold; 
    margin-right: 20px; 
}

.buttons {
    display: flex;
    align-items: center;
    gap: 10px; 
}

.buttons .btn {
    color: #fff;
}

/* Footer */

.footer .list-inline {
    color: #fff; 
    text-align: center;
    font-weight: bold;
}

.footer .buttons .btn {
    color: #fff;
}

.list-inline {
    padding-left: 0;
    list-style: none;
}

.list-inline li {
    display: inline-block;
    margin-right: 10px;
}

/* Shadow for Images */
.shadow {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Register page */
.register-pic {
    padding: 10px;
    border-radius: 10px;
  }

.form-group {
    margin-bottom: 20px; 
  }
.reg-btn {
    margin-top: 20px; 
}

/* Profile Pic */

.profile-pic {
    border: 2px solid #fff; 
}