/* Base Page */

html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.base-background {
    background-color: #000000;
}

/* Navbar */

.logo {
   max-height: 100px; 
   max-width: 100px;
   margin-right: 20px;
}

.navbar-brand {
    margin-right: auto; 
}

.nav-item a {
    font-weight: bold; 
    margin-right: 20px; 
}

.buttons {
    display: flex;
    align-items: center;
    gap: 10px; 
}

.buttons .btn {
    color: #fff;
}

.burger {
    color:#fff !important;
    font-size:28px !important;
}

/* Footer */

@media (min-width: 768px) {
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
    }
}


.footer .list-inline {
    color: #fff; 
    text-align: center;
    font-weight: bold;
}

.list-inline li {
    display: inline-block;
    margin-right: 10px;
}

/* Shadow for Images */
.shadow {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Register page */
.register-pic {
    padding: 10px;
    border-radius: 10px;
  }

.form-group {
    margin-bottom: 20px; 
  }
.reg-btn {
    margin-top: 20px; 
}

/* Profile Pic */

.profile-pic {
    border: 2px solid #fff; 
}

.base-profile {
    height: 50px;
    width: 50px;
}

/* Card Styling */

.card-border {
     border: 2px solid #DA70D6;
}

.card-scroll {
    max-height: 400px;
    overflow-y: auto;
}

.teams-card {
    height: 100%;
}

.teams-pfp {
    height: 300px; 
    object-fit: cover;
}

