{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="text-light">
    <h2 class="font-weight-bold">{{sessions.title}}</h2>
    <p>{{sessions.location}}, {{sessions.date}}, {{sessions.time}} </p>
    <p>{{sessions.description}}</p>
</div>

<br>
<h2>Comments</h2>
{% if not sessions.comments.all %}
    No Comments Yet... 
    <a href="#">Add One</a>
{% else %}
    {% for comment in sessions.comments.all %}
    {{comment.username}} - {{comment.created_on}}
    <br>
    Rating: {{comment.rating}}
    <br>
    {{comment.body}}
    {% endfor %}
{% endif %}

{% endblock %}