{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="container-fluid py-5">
    <div class="row align-items-center">
        <!-- Title and Text -->
        <div class="col-md-12 text-center">
            <h1 class="display-4 text-light font-weight-bold">Classes with Forge Fitness</h1>
            <p class="lead text-white">
                Forge Fitness prides itself by offering premium fitness classes, free of charge, to all our members.
            </p>
        </div>
         <!-- Classes Section -->
        <div class="container">
            <div class="row">
                {% for session in object_list %}
                <div class="col-md-4 mb-4">
                    <div class="card bg-dark text-white">
                        <div class="card-body">
                            <!-- Session Title with Link -->
                            <h5 class="card-title"><a href="{% url 'session-detail' session.slug %}" class="text-white">{{ session.title }}</a></h5>
                            <!-- Session Location, Date, and Time -->
                            <p class="card-text">{{ session.location }}, {{ session.date }}, {{ session.time }}</p>
                            <!-- Session Description -->
                            <p class="card-text">{{ session.description }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

         <!-- Pagination Section -->
        {% if is_paginated %}
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_next %}
                    <li><a href="?page={{ page_obj.next_page_number }}" class="page-link btn bg-dark text-light"> NEXT &raquo;</a></li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
    </div>
</section>
{% endblock %}